*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{width: 1400px;
height:500px;
text-align: center;
line-height: 500px;
margin:50px auto;
}
.container{
background-color: plum;}

#btn-1{border:2px solid white;
    padding:15px 20px;
    border-radius: 8px;
    color:white;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    transition:0.4s;
}
#btn-1:hover{
    border-radius:25px;
    background-color: darkslategrey;
}
#btn-2{border:2px solid white;
    padding:15px 20px;
    border-radius: 8px;
    color:white;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
    transition:0.4s;
    position: relative;
    overflow: hidden;
}
#btn-2::after{
    content:'';
    width:210px;
    height:70px;
    background-color:rgba(255, 255, 255, 0.138);
    position: absolute;
    top: 0px;
    right:0px;
    transform: translate(-100px, -100px) rotate(-50deg);
    transition:0.5s;
    overflow: hidden;
    /* transform: rotate(-50deg); */
}
#btn-2:hover::after{
    transform: translate(0px,0px) rotate(0deg);
    color:black;
}
/* #btn-2:hover{
    border-radius:25px;
    background-color:rgb(222, 227, 232);
} */