@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{font-family: 'Quicksand';
font-size: 20px;}

.container{width: 700px;
    background-color: antiquewhite;
    padding:50px;
    margin:50px auto;}